<section class="mx-auto max-w-6xl px-4 py-10">
  <div class="text-center space-y-2">
    <h1 class="text-3xl font-bold">Plans & Pricing</h1>
    <p class="text-slate-600">We have several plans to suit your needs.</p>
  </div>

  <!-- Responsive grid -->
  <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- Card 1 -->
    <article class="relative rounded-2xl border border-slate-200 bg-white shadow-sm">
      <div class="rounded-t-2xl bg-[#F6C949]/65 px-4 py-5 text-center  font-semibold text-orange-400 text-lg">
        Your current plan
      </div>
      <div class="p-6 space-y-5">
        <header>
          <h3 class="text-xl font-semibold">Basic</h3>
          <p class="text-slate-500">Free</p>
        </header>
        <p class="text-sm text-slate-600 mb-8">
          10 GB of storage to help you store or share a few files for a quick project. Suitable for beginners.
        </p>

        <ul class="space-y-3 text-sm">
          <li class="flex items-start gap-2 text-[#171725]">
            <span class="mt-0.5 inline-flex h-5 w-5 items-center justify-center rounded-full bg-[#3BC963] text-white font-bold">
              <!-- check -->
              <%- include ('./greencheck') %>
            </span>
            Up to 5 devices
          </li>
          <li class="flex items-start gap-2 text-[#171725]">
            <span class="mt-0.5 inline-flex h-5 w-5 items-center justify-center rounded-full bg-[#3BC963] text-white">
              <%- include ('./greencheck') %>
            </span>
            Family Room folder for sharing
          </li>
          <li class="flex items-start gap-2  text-[#171725]">
            <span class="mt-0.5 inline-flex h-5 w-5 items-center justify-center rounded-full bg-red-500 text-white">
              <%- include ('./redcheck') %>
            </span>
            Centralised billing
          </li>
          <li class="flex items-start gap-2  text-[#171725]" >
            <span class="mt-0.5 inline-flex h-5 w-5 items-center justify-center rounded-full bg-red-500 text-white">
              <%- include ('./redcheck') %>
            </span>
            Advanced security
          </li>
        </ul>

        <button class="w-2/3 mt-4 rounded-xl border border-rose-300 py-2 font-medium text-rose-600 hover:bg-rose-50 ">
          Purchase
        </button>
      </div>
    </article>

   <article class="relative rounded-2xl border border-slate-200 bg-white shadow-sm">
      <div class="rounded-t-2xl bg-[#F6C949]/65 px-4 py-5 text-center  font-semibold text-orange-400 text-lg">
        Your current plan
      </div>
      <div class="p-6 space-y-5">
        <header>
          <h3 class="text-xl font-semibold">Basic</h3>
          <p class="text-slate-500">Free</p>
        </header>
        <p class="text-sm text-slate-600 mb-8">
          10 GB of storage to help you store or share a few files for a quick project. Suitable for beginners.
        </p>

        <ul class="space-y-3 text-sm">
          <li class="flex items-start gap-2 text-[#171725]">
            <span class="mt-0.5 inline-flex h-5 w-5 items-center justify-center rounded-full bg-[#3BC963] text-white font-bold">
              <!-- check -->
              <%- include ('./greencheck') %>
            </span>
            Up to 5 devices
          </li>
          <li class="flex items-start gap-2 text-[#171725]">
            <span class="mt-0.5 inline-flex h-5 w-5 items-center justify-center rounded-full bg-[#3BC963] text-white">
              <%- include ('./greencheck') %>
            </span>
            Family Room folder for sharing
          </li>
          <li class="flex items-start gap-2  text-[#171725]">
            <span class="mt-0.5 inline-flex h-5 w-5 items-center justify-center rounded-full bg-red-500 text-white">
              <%- include ('./redcheck') %>
            </span>
            Centralised billing
          </li>
          <li class="flex items-start gap-2  text-[#171725]" >
            <span class="mt-0.5 inline-flex h-5 w-5 items-center justify-center rounded-full bg-red-500 text-white">
              <%- include ('./redcheck') %>
            </span>
            Advanced security
          </li>
        </ul>

        <button class="w-2/3 mt-4 rounded-xl border border-rose-300 py-2 font-medium text-rose-600 hover:bg-rose-50 ">
          Purchase
        </button>
      </div>
    </article>
    <article class="relative rounded-2xl border border-slate-200 bg-white shadow-sm">
      <div class="rounded-t-2xl bg-[#F6C949]/65 px-4 py-5 text-center  font-semibold text-orange-400 text-lg">
        Your current plan
      </div>
      <div class="p-6 space-y-5">
        <header>
          <h3 class="text-xl font-semibold">Basic</h3>
          <p class="text-slate-500">Free</p>
        </header>
        <p class="text-sm text-slate-600 mb-8">
          10 GB of storage to help you store or share a few files for a quick project. Suitable for beginners.
        </p>

        <ul class="space-y-3 text-sm">
          <li class="flex items-start gap-2 text-[#171725]">
            <span class="mt-0.5 inline-flex h-5 w-5 items-center justify-center rounded-full bg-[#3BC963] text-white font-bold">
              <!-- check -->
              <%- include ('./greencheck') %>
            </span>
            Up to 5 devices
          </li>
          <li class="flex items-start gap-2 text-[#171725]">
            <span class="mt-0.5 inline-flex h-5 w-5 items-center justify-center rounded-full bg-[#3BC963] text-white">
              <%- include ('./greencheck') %>
            </span>
            Family Room folder for sharing
          </li>
          <li class="flex items-start gap-2  text-[#171725]">
            <span class="mt-0.5 inline-flex h-5 w-5 items-center justify-center rounded-full bg-red-500 text-white">
              <%- include ('./redcheck') %>
            </span>
            Centralised billing
          </li>
          <li class="flex items-start gap-2  text-[#171725]" >
            <span class="mt-0.5 inline-flex h-5 w-5 items-center justify-center rounded-full bg-red-500 text-white">
              <%- include ('./redcheck') %>
            </span>
            Advanced security
          </li>
        </ul>

        <button class="w-2/3 mt-4 rounded-xl border border-rose-300 py-2 font-medium text-rose-600 hover:bg-rose-50 ">
          Purchase
        </button>
      </div>
    </article>
  </div>
</section>
