<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-[#FCFBFF]">
  <%- include ('./partials/header') %>
    <div class="row p-4 mt-8 mb-8 flex mx-auto max-w-7xl">
      <div class="p-8">
        <h1 class="text-6xl font-bold leading-2xl text-gray-900">Keep life organized and <br>
          work moving -- all in one <br>
          place
        </h1>
        <p class="mt-8 mb-8 text-xl">Alpha Drive gives you secure access to all your files.
          Collaborate <br> with friends, family, and coworkers from any device.
        </p>
        <div class="flex gap-8">
          <button class="bg-[#6A4BFF] px-8 py-2  rounded-sm text-white text-md font-normal"> <a href="">Get
              Started</a></button>
          <button class="bg-white border border-[#6A4BFF] text-[#6A4BFF] px-8 py-2 rounded-sm"> <a href="">Learn
              more</a></button>

        </div>
      </div>
    </div>


    <%- include ('./partials/pricingoptions') %>
      <%- include ('./partials/feature') %>
        <%- include ('./partials/contactform') %>

          <%- include ('./partials/footer') %>


</body>

</html>